*{
    font-family: monospace;
}
.input{
    max-width: 50%;
    width: 50%;
}
input, h1{
    margin: 10px;
}
.others{
    margin: 10px;
}
.other-part{
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}