<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='show.css') }}" type="text/css">
    </head>
    <body>
        <img src="{{ url_for('static', filename='bilibili.jpg') }}">
        <form action="/download">
            <input class="button is-link is-outlined is-rounded" type="submit" value="下载词云">
        </form>
        <button class="button is-link is-outlined is-rounded" onclick="window.location='/comment'">查看弹幕</button>
        <br>
        <button class="button is-link is-outlined is-rounded" onclick="window.location='/'">继续制作</button>
    </body>
</html>